*
{padding:0;
margin:0;
}
nav
{background-color:black;
padding:20px;
width:100%;
}
ul
{
list-style:none;
}
li
{display:inline;

}
a
{text-decoration:none;
color:white;
padding:20px;}
a:hover
{background-color:white;
color:black;
}
@media(max-width:430px)
{
li
{display:block;
width:50%;
padding:20px;
padding-left:35%;

}
li:hover
{background-color:white;


}
a:hover
{background-color:none;

}

}
@media(max-width:768px)
{
li
{display:block;
width:55%;
padding:20px;
padding-left:35%;

}
li:hover
{background-color:white;


}
a:hover
{background-color:none;

}

}